/* RESET */
body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  /* Thanh đen trên cùng */
  .navbar {
    background-color: black;
    overflow: hidden;
    text-align: center;
  }
  
  .navbar a {
    display: inline-block;
    color: white;
    padding: 14px 20px;
    text-decoration: none;
  }
  
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Nội dung chính */
  .content {
    min-height: 90vh;
    text-align: center;
    padding-top: 50px;
  }
  
 /* Footer (Thanh đen phía dưới cùng) */
.footer {
    background-color: #0e0101; /* màu đen xám */
    color: white;
    text-align: center;
    padding: 30px 0; /* khoảng cách trên dưới */
    margin-top: 50px; /* tạo khoảng trống giữa nội dung và footer */
    font-size: 14px;
  }
  