/* Reset cơ bản */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

/* Navigation Bar */
.navbar {
  background-color: #333;
  display: flex; /* dùng Flexbox */
  justify-content: space-between; /* giãn đều các mục ra toàn chiều ngang */
  align-items: center; /* căn giữa theo chiều dọc */
  width: 100%; /* rất quan trọng: giúp flex chiếm toàn chiều ngang */
}

/* Liên kết trong navbar */
.navbar a {
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 14px 60px;
  font-size: 16px;
  
}

/* Hiệu ứng hover */
.navbar a:hover {
  background-color: #575757;
}

/* Footer */
.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 15px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
